@keyframes icnjuggle{
	0%{
		transform: rotate(-15deg);
	}

	20%, 30%{
		transform: rotate(0deg);
	}

	60%, 70%{
		transform: rotate(-15deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

@keyframes icnbounce{
	0%{
		transform: scale(1);
	}

	25%, 75%{
		transform: scale(1.1);
	}

	100%{
		transform: scale(1);
	}
}